@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
  font-family: "Rubik", sans-serif;
}

.mainContainer {
  border: 1px solid black;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: min-content;
}

.header {
  border-bottom: 1px solid #c5c5c5;
  padding: 10px;
}

.mid {
  padding: 10px;
  display: flex;
  min-height: 100px;
}

.footer {
  border-top: 1px solid #c5c5c5;
  padding: 10px;
}

input[type="file"] {
  color: rgba(0, 0, 0, 0);
  margin-bottom: 10px;
  display: none;
}

.inputButton{
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.25);
  padding: 5px 15px;
  margin-top: 20px;
  margin-right: 20px;
}


.file {
  border-bottom: 1px solid #e6e6e6;
  padding: 6px;
  color: #606060;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
}

.fileName {
  cursor: pointer;
}

.fileOptions {
  display: flex;
  align-items: center;
}

.fileOptions div {
  margin: 0px 5px;
}

.unticked {
  width: 0.4em;
  height: 0.4em;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
}

.ticked {
  width: 0.4em;
  height: 0.4em;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
  background: #606060;
}

.uncticked:hover {
  background: #e6e6e6;
}

.deleteFile {
  color: #e6e6e6;
}

.deleteFile:hover {
  cursor: pointer;
  color: red;
}

.importSc0{
  min-width: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.sc0Header{
  margin-bottom: 15px;
}


.importStructures {
  padding: 20px;


  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
}

.editFiles {
  margin-left: 50px;
  padding: 20px;
  min-width: 280px;
  min-height: 500px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editOptions {
  display: flex;
}

.editOptions div {
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.25);
  padding: 5px 15px;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.parameterDisplay {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}

.toolbar{
  border-top: 1px solid #6b6b6b;
  border-bottom: 1px solid #6b6b6b;
  display: flex;
}

.toolbar div{
  margin-right: 20px;
  cursor : pointer;
  padding: 4px;

}

.toolbar div img{
  height: 17px
}

.underline{
  box-shadow: 0px -2px 0px black inset; 
}

.importCSV{
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
}

th,td{
  padding: 1px 15px;
  border-bottom: 1px solid black;
}

